* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* hide checkbox but it's still there working in the background*/
#mode-switch {
  display: none;
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  background-color: #f2e7e7;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle {
    display: flex;
    align-items: center;
    padding: 16px 0;
    gap: 12px;
    margin-bottom: 40px;
} 

.toggle-text {
    font-size: 14px;
}

.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Roboto Mono", sans-serif;
}

/* creates the circle inside the switch */
.switch::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 3px;
  top: 3px;
  background-color: #330000;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* when the checkbox is checked → move circle switch next to it and change background */
#mode-switch:checked + .switch {
  background-color: #f3eed9; 
}

#mode-switch:checked + .switch::before {
  transform: translateX(22px);
}


/* Body fade transition */
body {
    margin: 20px;
    background-color: white;
    color: #803b32;
    transition: background-color 1s ease, color 1s ease;
    font-family: Google Sans, sans-serif;
}

body.dark-mode {
    background-color: #d5cecd;  /* dark background */
    color: #3d1712;
}


/* All lighting */
.header {
    width: 100%;    
    border-bottom: 1px solid #803b32;
    color: #803b32;
    padding: 10px 0;
}



 
.row-container {
    display: flex;
    gap: 16px;      /* space between sidebar and gallery */
}

.column {
    flex: 1;
    padding: 16px 0;
}


#side-bar button {
    display: block;
    background: none;      /* remove gray background */
    border: none;          /* remove border */
    padding: 0;            /* remove button spacing */
    margin: 10px 0;        /* vertical spacing */
    color: #803b32;
    font-size: 13px;
    cursor: pointer;       /* show it's clickable */
    text-align: left;
}

#side-bar {
    width: 100%;
    max-width: 300px;
}

#gallery-view {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap; /* allow multiple rows */
    gap: 10px; /* spacing between cards */
    justify-content: left /* align items to left; change to space-between if you want even spacing */
}


/* card */
.card {
    flex: 0 0 calc(25% - 10px); /* 4 cards per row */
} 

@media (max-width: 900px) {
    .card { flex: 0 0 calc(50% - 10px); }
}

@media (max-width: 500px) {
    .card { flex: 0 0 100%; }
}

.card img {
    height: 360px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    transition: opacity 1s ease, filter 1s ease;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.product-name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.product-price {
    font-size: 12px;
    opacity: 0.85;
}
